*, *::after, *::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: grid;
  grid-template-columns: repeat(2, 4rem);
  grid-template-rows: 7rem 2rem 7rem;
  gap: 0.5rem;
  justify-content: center;
  padding-top: 3rem;
}

.deck {
  height: 100%;
  width: 100%;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  border-radius: 0.5rem;
  color: rgb(255, 255, 255);
  user-select: none;
}

.computer-deck {
  background-color: #777dff;
}

.player-deck {
  background-color: #439c5c;
}

.text {
  grid-column: span 2;
  display: flex;
  justify-content: center;
  align-items: center;
}